body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000;
}
video {
    border: 2px solid white;
    width: 640px;
    height: 480px;
}
canvas {
    position: absolute;
    top: 80px;
}
button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}